﻿@model TimmL2.Models.Node

<meta charset="utf-8">
<body>
    <style>
        .node {
            stroke: #fff;
            stroke-width: 1.5px;
        }

       .link {
            stroke: #999;
            stroke-opacity: .6;
        }
    </style>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
            <script>

                var dane;
                var width = 960,
                    height = 500;

                var color = d3.scale.category20();

                var force = d3.layout.force()
                    .charge(-120)
                    .linkDistance(30)
                    .size([width, height]);
                //var drag_line = svg.append('svg:path')
                //    .attr('class', 'link dragline hidden')
                //    .attr('d', 'M0,0L0,0');


                var svg = d3.select("body").append("svg")
                    .attr("width", width)
                    .attr("height", height);
                getData();

                // build the arrow.
                svg.append("svg:defs").selectAll("marker")
                    .data(["end"])
                  .enter().append("svg:marker")
                    .attr("id", String)
                    .attr("viewBox", "0 -5 10 10")
                    .attr("refX", 15)
                    .attr("refY", -1.5)
                    .attr("markerWidth", 6)
                    .attr("markerHeight", 6)
                    .attr("orient", "auto")
                  .append("svg")
                    .attr("d", "M0,-5L10,0L0,5");

                // add the links and the arrows
                var path = svg.append("svg:g").selectAll("path")
                    .data(force.links())
                  .enter().append("svg")
                    .attr("class", "link");
                    



                function getData() {

                    var actionUrl = '/api/graph';
                    $.getJSON(actionUrl, displayData);



                }
                
                function displayData(graph) {
                    var nodeMap = {};

                    graph.nodes.forEach(function (d) { nodeMap[d.name] = d; });

                    graph.links.forEach(function (l) {
                        l.source = nodeMap[l.source];
                        l.target = nodeMap[l.target];
                    })

                    force.nodes(graph.nodes)
                        .links(graph.links)
                        .start();

                    var link = svg.selectAll(".link")
                        .data(graph.links)
                        .enter().append("line")
                        .attr("class", "link")
                        .style("stroke-width", function (d) {
                            return Math.sqrt(d.value) + 1;

                        })


                    var node = svg.selectAll(".node")
                        .data(graph.nodes)
                        .enter().append("circle")
                        
                        .attr("class", "node")
                        .attr("r", 5)
                        .style("fill", function (d) { return color(d.group); })
                        .call(force.drag)
                   
                

                    node
                        .on("click", function (d) {
                            document.getElementById('nodeToDeleteName').value = d.name;
                        })





                    node.append("title")
                        .text(function (d) { return d.name; });
                    link.append("title")
                        .text(function (d) { return d.value; });
                    force.on("tick", function () {
                        link.attr("x1", function (d) { return d.source.x; })
                            .attr("y1", function (d) { return d.source.y; })
                            .attr("x2", function (d) { return d.target.x; })
                            .attr("y2", function (d) { return d.target.y; });

                        node.attr("cx", function (d) { return d.x; })
                            .attr("cy", function (d) { return d.y; });
                    });
                    // mouse event vars
                    var selected_node = null,
                        selected_link = null,
                        mousedown_link = null,
                        mousedown_node = null,
                        mouseup_node = null;
                    function resetMouseVars() {
                        mousedown_node = null;
                        mouseup_node = null;
                        mousedown_link = null;
                    }

                    function keydown() {
                        d3.event.preventDefault();
                        //ctrl
                        if (d3.event.keyCode === 17) {
                            node.call(force.drag);
                            svg.classed('ctrl', true);
                        }
                    }
                    function keyup() {
                        lastKeyDown = -1;

                        // ctrl
                        if (d3.event.keyCode === 17) {
                            //circle
                            //  .on('mousedown.drag', null)
                            //  .on('touchstart.drag', null);
                            node.
                            svg.classed('ctrl', false);
                        }
                    }

                    //d3.select(window)
                    //   .on('keydown', keydown)
                    //   .on('keyup', keyup);
                }
            </script>
    <p></p>
    <p>
        <hr />
        <input name="text2" type="text" id="in2" value="name" onclick="clearBox(this)" />
        <input name="text2" type="text" id="in3" value="group" onclick="clearBox(this)" />
        <button type="button" onclick="addNode()"> Add new node</button>
    </p>
    <p>
        <hr />
        <input type="text" class="file" name="nodeToDeleteName" id="nodeToDeleteName" value="name" onclick="clearBox(this)">
        <button type="button" onclick="removeNode()"> Delete node</button>
    </p>
    <p>
        <hr />
        <input name="text2" type="text" id="NodeSource" value="name node source" onclick="clearBox(this)" />
        <input name="text2" type="text" id="NodeTarget" value="name node target" onclick="clearBox(this)" />
        <input name="text2" type="text" id="ValueLink" value="value link" onclick="clearBox(this)" />
        <button type="button" onclick="addLink()"> Add link</button>
    </p>
    <p>
        <hr />
        <input name="text2" type="text" id="removeNodeSource" value="name source" onclick="clearBox(this)" />
        <input name="text2" type="text" id="removeNodeTarget" value="name target" onclick="clearBox(this)" />
        <button type="button" onclick="removeLink()"> Delete link</button>
    </p>
   
        <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script type="text/javascript">
            function addNode() {
                var actionUrl = '/Graph3/addNode?Name=' + document.getElementById('in2').value + "&Group=" + document.getElementById('in3').value;
                $.getJSON(actionUrl);
                location.reload();
            }
            function removeNode() {
                var actionUrl = '/Graph3/removeNode?name=' + document.getElementById('nodeToDeleteName').value;
                $.getJSON(actionUrl);
                location.reload();
            }
            function addLink() {
                var actionUrl = '/Graph3/addLink?NodeSource=' + document.getElementById('NodeSource').value +
                    "&NodeTarget=" + document.getElementById('NodeTarget').value +
                    "&Value=" + document.getElementById('ValueLink').value
                $.getJSON(actionUrl);
                location.reload();
            }
            function removeLink() {
                var actionUrl = '/Graph3/removeLink?removeSourceNode=' + document.getElementById('removeNodeSource').value +
                    "&removeTargetNode=" + document.getElementById('removeNodeTarget').value
                $.getJSON(actionUrl);
                location.reload();
            }
            function saveXML() {
                var actionUrl = '/Graph3/saveXML'
                $.getJSON(actionUrl);
                location.reload();
            }
            function clearBox(a) {
                a.value = "";

            }
        </script>


</body>