﻿
@{
    ViewBag.Title = "AddNode";
}

<h2>AddNode</h2>
<input name="text2" type="text" id="in2" />
<input name="text2" type="text" id="in3" />
<button type="button" onclick="getText3()"> Get calculated result</button>
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript">
        function getText3() {
            var actionUrl = '/api/addNode?name=' + document.getElementById('in2').value + "&group=" + document.getElementById('in3').value;
            $.getJSON(actionUrl);
            alert(actionUrl);

        }
</script>

